.app {
  text-align: center;
}
.app-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:70vw;

  margin:20px auto;
}

.app-link{

}



.app-header {
  background-color: #222;
  height:25vh;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}
.app-qrContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.app-qr{
  width:100px;
  height:100px;
}
