.app {
  text-align: center;
}
.app-nav{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width:90%;
  /* margin: 0 auto; */

  margin:20px auto;
}

.app-link{
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background:lightseagreen;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin:5px;
  
}



.app-header {
  background-color: #222;
  
  padding: 5px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}
.app-qrContainer{
  
  display:flex;
  flex-direction: column;
  align-items: center;
  
}
.app-qr{
  width:100px;
  height:100px;
}
