<a-scene id='ascene' xrextras-tap-recenter xrextras-almost-there xrextras-loading xrextras-runtime-error xrextras-gesture-detector xrweb>

  <a-assets>
    <a-asset-item   id="beach" src="../assets/Beach_Low_Poly.glb"></a-asset-item>
 </a-assets>


<a-entity light="type:directional; castShadow:true; color:white; intensity:1.0" position="5 10 7"></a-entity>
<a-camera
  id="camera"
  position="0 8 8"
  raycaster="objects: .cantap"
  cursor="fuse: false; rayOrigin: mouse;">
</a-camera>

<a-light type="ambient" intensity="0.7"></a-light>

<a-entity 
  id="model" 
  gltf-model="#beach" 
  class="cantap" 
  xrextras-hold-drag 
  xrextras-two-finger-rotate 
  xrextras-pinch-scale 
  scale="0.25 0.25 0.25" 
  shadow="receive: false">
</a-entity>

<a-plane
  id="ground" 
  rotation="-90 0 0" 
  width="1000" 
  height="1000" 
  material="shader: shadow" 
  shadow>
</a-plane>
</a-scene>
