.webARPage {
  text-align: center;
  width:100%;
  height:100%;
}

.webARPage-mobileNotice{
  background-color: azure;
  
}

.webARPage-mobileNotice h3{

    text-transform: capitalize;
  
}

.webARPage-redirectBanner{
  background-color:cyan;
  width:100%;
  height:10vh;
}

model-viewer{
  width:100%;
  height:50vh;
}




