.td-notesContainer{
  
    background-color: greenyellow;
    position: absolute;  
    top:30vh;
    width: 100vw;
    height:80vh;
    z-index: 10;
}
.td-notesInfo{
  width:75%;
  margin: 0 auto;
}

.td-examples-container{
  width:75%;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.td-image{
  width: 60vw;
  height:40vh;
}